body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-container {
  margin-top: 5%;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-tasks {
  margin-top: 2%;
  display: flex;
  align-items: center;
}

.btn {
  background: #1976d2!important;
  margin: 1% 0.4%!important;
}

.active-filter {
  background-color: #8f203c; 
  color: white;
  border-color: #8f20657a;
}

.is-done {
  opacity: 50%;
} 

.filter-btn {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}